.cache/
bin/
build/
cards.xrs
gui.xrs
include/images/gui.xrc
include/images/gui.xrs
obj/
rosanne-unittests.layout
rosanne-unittests.depend
rosanne.depend
rosanne.layout
compile_commands.json
Rosanne-x86_64.AppImage
Rosanne.AppDir/.DirIcon
Rosanne.AppDir/main_icon_32.xpm
Rosanne.AppDir/usr/
